*{
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Noto Sans', sans-serif;
    background: #fff url(imagens/fundo.png) repeat-x;
}

#container{
    width: 750px;
    margin: 0 auto;
    
}

#topo{
    height: 150px;
    background: url(imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
   

}

.logo{
    width: 152px;
    height: 66px;
    background: url(imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}

/* Barra de navegação */
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    
}

a:link, a:visited{
    color: #b10333;
    padding: 2px;
}

a:hover{
    color: #e50040
}

#topo ul{
    background: #b10333;
    margin-top: 30px;
    float: left;

}

#topo ul li{
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block; /* O elemento gera uma caixa de elemento de bloco, gerando quebras de linha antes e depois do elemento quando no fluxo normal. */
    padding: 0.5em 1.3em;
    text-decoration: none;
    line-height: 2.1em; /* Aumenta o tamanho da barra do bloco. */
    color: #ffff;
    background: url(imagens/divisor.png) no-repeat left center;

}

/* Para retirar o divisor antecessor da opção home na barra  de navegação,  */
#topo ul .primeiro a{
    background: none;


}

#topo ul a:hover{
    color: #69001d;
}




/* PARA DEIXAR MARCADO NA BARRA DE NAVEGAÇÃO QUAL ITEM VC ESTÁ NAVEGANDO */
body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.ciencia #navegacao a#ciencia,
body.saude #navegacao a#saude,
body.fotos #navegacao a#fotos{
    color: #fff;
    background: #de003e;
    cursor: text;
    
    }

    /* CONFIGURAR LAYOUT DE TRÊS COLUNAS */

    #conteudo{
        background: #f5f5f5;
        margin-top: 60px;
    }

    #lateral{
        width: 180px;
        float: left;
        margin:0 0 20px -750px ;
    
    }


     #primario{
        width: 270px;
        float: left;
        margin: 0 0 20px 195px;
    }

    #duas_colunas #primario{
        width: 555px;
        
    }

    #uma_coluna #primario{
        width: 750px;
        margin: 0 0 20px 0px;
    }

    #secundario{
        width: 270px;
        float: left;
        margin: 0 0 20px 15px;
    }

        /* FORMATAR MENUS LATERAIS */

        #lateral ul a{
            font-size: 0.9em;
            padding: 3px;
            display: block;
            line-height: 30px;
            color: #000;
            text-decoration: none;
            border-bottom: #f3f3f3 solid 1px ;
        }

#lateral ul a:hover {
    background: #f9f9f9 url(imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
    color:#a1a1a1;
}

 /* FORMATANDO FOMULÁRIOS    */
 label{
    display: block;
    cursor: pointer;
 }

 input{
    padding: 5px;
    width: 140px;
    font-size: 0.9em;
    background-color: #fff;
 }
input.submit{
    margin-top: 3px;
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;

}

/*caixa-conteudo*/
.caixa{
    background: url(imagens/fundo-caixa.png) #f3f3f3 ;
    padding: 5px;
    margin: 10px 0;
}

h2{
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo{
    padding: 5px;
    margin-top: 5px;
    background: #fff;
}



/*Formatando Imagens */
img{
    border: 2px solid #dfdfdf;
}

img.imagem-principal{
    width: 98%;
    border: 3px solid #dfdfdf;
}

h3{
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 3px;
    display: inline;
}

.destaque {
    background: #b10333;
    color: #fff;
}

/*Formatando lista de Notícias */
#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 64px;
}

#lista-noticias li a img{
    float: left;
    margin: 5px;
    
}

#lista-noticias li a {
  text-decoration: none;
    
}

#lista-noticias li a h3{
    font-size: 0.85em;
    padding: 0;
    color: #3e7ab9;
      
  }

  #lista-noticias li a p{
    font-size: 0.75em;
    color: #000;
      
      
  }

  #lista-noticias li:hover{
    background: #eee;
    cursor: pointer;
      
      
  }


/*Rodape  */
#conteiner_rodape {
    background: #294c71;
    padding: 20px;
}

#rodape{
    background-color:750px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}